<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <object th:include="fragments/head :: head_bootstrap" th:remove="tag" />

        <link rel="stylesheet" href="/resources/styles/default.css"/>
        <script src="resources/scripts/courses.js"></script>
    </head>
    <body>
        <th:block th:switch="${userRole}">
            <div th:case="'ANONYMOUS'">
                <nav th:replace="fragments/navbar :: anonymous_navbar(null)"></nav>
            </div>
            <div th:case="'USER'">
                <nav th:replace="fragments/navbar :: user_navbar(null)"></nav>
            </div>
        </th:block>

        <div class="container">
            <form id="searchCourse" class="form-inline">
                <div class="form-group">
                    <input type="text" name="leit" class="form-control" aria-describedby="searchCourse" placeholder="Leita"/>
                </div>
                <div class="form-group">
                    <button type="submit" id="leitaBtn" class="btn btn-default">Leita!</button>
                </div>
            </form>

            <table class="table table-hover" id="courseTable">
                <thead>
                <tr>
                    <th>Nafn</th>
                    <th>Númer</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </body>
</html>